.btn-item {
    margin: 0 10px;
    width: 80px;
    height: 30px;
    border-radius: 19px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    &:hover {
        color: var(--white);
        background-color: #ff5400;
    }
}
.active {
    background-color: #ff5400;
    color: var(--white);
}
