.offersList-wrap {
    margin-top: 80px;
    .sample {
        position: relative;
        img {
            width: 100%;
        }
        h3 {
            position: absolute;

            top: 24px;
            color: var(--white);
            display: block;
            padding: 0 10px;
            background-color: var(--yellow);
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .wrap-info {
        padding: 0 20px;
        margin: 30px 0;
        border-bottom: 2px solid #b7b7b7;
    }
    .info {
        display: flex;
        justify-content: space-between;

        .price {
            span {
                font-size: 28px;
                font-weight: 700;
                color: var(--yellow);
            }
            .star {
                color: var(--yellow);
                opacity: 0.7;
                .icon-star {
                    margin-right: 10px;
                }
            }
        }
    }

    .assess {
        display: flex;

        .classify {
            margin-right: 10px;
            span {
                font-size: 20px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                color: #a5a5a5;
            }
        }
        .point {
            display: block;
            text-align: center;
            font-size: 24px;
            padding: 10px;
            width: 60px;
            height: 60px;
            color: var(--white);
            background-color: var(--yellow);
            border-radius: 50%;
        }
    }
    .description {
        font-size: 14px;
        font-weight: 400;
        color: #929191;
        margin: 10px 0 16px;
        line-height: 2;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
    }
    .icon {
        color: #b7b7b7;
        width: 30px;
        height: auto;
        padding-right: 20px;
    }
    Button {
        float: right;
        min-width: 186px;
    }
}
